{% extends "base.html" %}

{% block site %}

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">

      <ul class="nav navbar-nav">
        <li><a href="">Home</a></li>
        <li><a href="activities">Activities</a></li>
        <li><a href="script">Script</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Public</a></li>
      </ul>
  </div>
</nav>

<div class="container">

     <div class="jumbotron">
        <h1>Intern home</h1>
        <p>This is just a header for example purposes</p>
        <p>
          <a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/navbar-static-top/" role="button">Layout from &raquo;</a>
        </p>
      </div>

      {% block content %}
      {% endblock %}

</div>

{% endblock %}
