{% extends "internal_base.html" %}
{% from "internal/groups/member.html" import render_user_name_link %}
{% from "internal/menu/menu.html" import render_menu %}

{% block page_content %}
    <h1>{{ group.name }}</h1>
    <section id="mail">
        {% if group.mailing_list() %}
            This group has a mailing list:
            <a href="mailto:{{ group.mailing_list().get_address() }}">{{ group.mailing_list().get_address() }}</a>.
        {% else %}
            This group does not have a mailing list.
        {% endif %}
    </section>
    <p>
        {{ group.description }}
    </p>
    <section id="menu">
        <h3>Menu</h3>
        {{ render_menu(menu) }}
    </section>
    {% for data in data_per_year %}
        <div>
            <h2>{{ data.year.year }}</h2>
            <a href="{{ url_for('.show_yeargroup_by_year_and_id', year=data.year.year, id=group.id) }}">Link</a><br>
            {% if data.current_user_member %}
                <a class="btn btn-default"
                   href="{{ url_for('.leave_yeargroup_by_year_and_id', year=data.year.year, id=group.id) }}">Leave</a>
            {% else %}
                {% if data.user_member_of_year %}
                    <a class="btn btn-default"
                       href="{{ url_for('.join_yeargroup_by_year_and_id', year=data.year.year, id=group.id) }}">Join</a>
                {% elif data.user_requested_year_participation %}
                    You have requested to join this year. Once this request has been approved, you can choose to join
                    this year group.
                {% else %}
                    You cannot join this year group as you are not a member of the year {{ data.year.year }}.
                {% endif %}
            {% endif %}
            <ul>
                {% for member in data.members %}
                    {{ render_user_name_link(member) }}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}