{% extends "internal_base.html" %}
{% from "internal/groups/member.html" import render_user_name_link %}
{% from "internal/pages/content/page_content.html" import render_embedded_page %}

{% block page_content %}
    <h1>{{ group.name }} - {{ year.year }}</h1>
    {% if group.mailing_list() %}
        {% if year.is_current_year() %}
            {% set mail_address=group.mailing_list().get_address() %}
        {% else %}
            {% set mail_address=group.mailing_list().get_address_year(year) %}
        {% endif %}
        This group can be reached at
        <a href="mailto:{{ mail_address }}">
            {{ mail_address }}
        </a>
    {% else %}
        This group does not have a mailing list.
    {% endif %}<br>
    {% if current_user_member %}
        <a class="btn btn-default" href="{{ url_for('.leave_yeargroup_by_year_and_id', year=year.year, id=group.id) }}">Leave</a>
    {% else %}
        {% if is_year_participant %}
            <a class="btn btn-default"
               href="{{ url_for('.join_yeargroup_by_year_and_id', year=year.year, id=group.id) }}">Join</a>
        {% else %}
            Joining not allowed as you're not a member of the current year.<br>
            {% if has_requested_year_participation %}
                Requesting to join year pending.
            {% else %}
                <a href="{{ url_for('.join_year' ,year=year.year) }}" class="btn btn-default">Request to join year</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <p>
        {{ group.description }}
    </p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <h3>Content</h3>
                {% if is_year_participant %}
                    {{ render_embedded_page(page) }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-lg-3">
                <h3>Members</h3>
                <ul>
                    {% for member in members %}
                        {{ render_user_name_link(member) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
