{% extends "admin_base.html" %}

{% block page_content %}

<a href="{{url_for('.create_persistent_group')}}" class="btn btn-xs" title="Create persistent group"><button type="button" class="btn btn-default">Create Persistent Group</button></a>
<a href="{{url_for('.create_year_group')}}" class="btn btn-xs" title="Create year group"><button type="button" class="btn btn-default">Create Year Group</button></a>
<h2>Group overview</h2>
{{render_pagination(groups)}}
<table class="table table-condensed table-striped">
    {% for group in groups.items %}
    <tr>
        <td>{{group.name}}</td>
        <td>
            <a href="{{url_for('.edit_group', id=group.id)}}" class="btn btn-xs" title="Edit group">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}