{% extends "internal_base.html" %}

{% block page_content %}
    <h2>Revue intern</h2>
    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <section id="global-navigation">
                    <h3>Snelle links</h3>
                    <ul>
                        <li>
                            <a href="{{ url_for('.show_current_year') }}">Current year</a>
                        </li>
                        <li>
                            <a href="#">Script</a>
                        </li>
                        <li>
                            <a href="#">Kas</a>
                        </li>
                        <li>
                            <a href="#">YouTube</a>
                        </li>
                        <li>
                            <a href="#">Facebookpagina</a>
                        </li>
                        <li>
                            <a href="#">Facebookgroep</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-12 col-lg-6">
                <section id="announcements">
                    <h3>Announcements</h3>
                </section>
            </div>
            <div class="col-xs-12 col-lg-3">
                <section id="personal">
                    <h3>Personal</h3>
                    <img src="#" alt="profile picture"/>
                    <h4>Werkgroepen</h4>
                    <ul>
                        <li>
                            <a href="#">Muziek</a>
                        </li>
                    </ul>
                    <h4>Algemene groepen</h4>
                    <ul>
                        <li>
                            <a href="#">Activiteiten</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-12 col-lg-6">
                <section id="recent">
                    <h3>Recent</h3>
                </section>
            </div>
        </div>
    </div>
    {#
    <h2>Startpagina</h2>
    <section id="announcements">
        <h3>Announcements</h3>
        <ul>
            <li>...</li>
        </ul>
    </section>
    <section id="welcome">
        <h3>Welkom</h3>

        <p>
            Welkom op de interne website van Revue!
        </p>
    </section>
    <section id="pages">
    <h3>Pages overview</h3>
    <p>
        <a href="{{ url_for('.show_all_pages') }}">Pages overview</a>
    </p>
    </section>
    <section id="yeargroups">
        <h3>Werkgroepen van dit jaar</h3>
        <ul>
            {% for group in year_groups %}
                <li>
                    <a href="{{ url_for('.show_yeargroup_current_year', id=group.id) }}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section id="groups">
        <h3>Alle groepen</h3>

        <ul>
            {% for group in groups %}
                <li>
                    <a href="{{ url_for('.show_group_by_id', id=group.id) }}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
#}
{% endblock %}