<style type="text/css">
    div.content-element {
        width: 100%;
        border: 5px solid grey;
        border-radius: 10px;
    }

    div.content-element p.content-element-info {
        font-style: italic;
    }
</style>
<div class="content-element">
    <h1>{{ element.title }}</h1>
    <ul class="content-actions">

        <li><a href="{{ url_for('.show_content', id=element.id, action='edit', referring_page_id=page.id)
            }}"><i>Edit</i></a></li>
    </ul>
    <p class="content-element-info">Published by {{ element.author.name() }}</p>

    <div>
        {% if element.type == "text" %}
        {% include "internal/pages/text_element.html" %}
        {% else %}
        <span>incorrect content element</span>
        {% endif %}
    </div>
</div>